<html>
<body>
<table>
  <tr>
    <td>Task</td>
    <td>Raw JSON</td>
    <td><a href=/?sort=>Size</a></td>
    <td><a href=/?sort=Modified>Modified</a></td>
  </tr>
<% @entries.map do |e| %>
  <tr>
    <td><a href='<%= "#{e}/log" %>'> <%="#{e.split(".")[0..-2].join(".")}"%></a></td>
    <td><a href='<%="#{e}"%>'>[Export]</a></td>
    <td><%="#{File.size(e)}"%></td>
    <td><%="#{File.mtime(e)}"%></td>
  </tr>
<% end %>
</table>
</body>
</html>
